/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */

html {
    font-family: 'Gotham';
    font-weight: 500;
}

li {
    list-style: none;
}

/* START MAIN */

/* TOPBAR */

.upgrade {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 99;
    height: 5rem;
	background-color: rgb(0, 0, 0, 0.5);
}

.upgrade a {
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: .7rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: .7rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
}

.upgrade a:hover {
    transform: scale(1.2)
}

/* CENTRAL CONTENT */

.central-container {
    display: flex;
}

/* SIDE MENU */

.side-menu {
    background-color: rgb(0, 0, 0);
    flex: 0 0 230px;
    height: calc(100vh - 5rem);
    z-index: 99;
    padding-inline: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* LOGO */

.logo-container {
    display: flex;
    flex-direction: column;
    height: 5rem;
}

.logo-big {
    width: 120px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
}

.logo-small {
    display: none;
}

/* MENU UP */

.menu-up {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
}

.menu-up::before {
    content: "";
    display: block;
    background-color: rgb(173,255,47);
    position: absolute;
    top: 2%;
    left: -8%;
    bottom: 0;
    height: 25px;
    border-radius: 10px;
    width: 3px;
}

.menu-up li > img {
    width: 25px;
    opacity: 0.7;
}

.menu-up li > span {
    color: rgb(124,126,131);
    font-size: 14px;
    vertical-align: super;
    cursor: pointer;
}

.menu-up li:first-child span {
    color: rgb(255, 255, 255);
}

.menu-up li > span:hover {
    color: rgb(255, 255, 255);
}

/* MENU CENTER */

.menu-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-center li > h3 {
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding-top: 1rem;
}

.menu-center li span > i {
    background-color: rgb(124,126,131);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 8px;
    margin-right: .2rem;
}

.menu-center li span > i:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.menu-center > li {
    color: rgb(124,126,131);
    font-size: 14px;
}

.menu-center li:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* MENU DOWN */

.menu-down {
   display: flex;
   flex-direction: column;
}

.dwn-icon {
    width: 15px;
}

.install {
    color: rgb(124,126,131);
    font-size: 14px;
    vertical-align: top;
    cursor: pointer;
}

.install:hover {
    color: rgb(255, 255, 255);
}

.bar::after {
    content: "";
    display: block;
    background-color: rgb(124,126,131);
    height: 1px;
    margin-top: .5rem;
}

.profile {
    margin-top: .5rem;
    padding-bottom: .5rem;
}

.profile-img {
    width: 25px;
    height: 25px;
    background-color: rgb(128,128,128);
    border-radius: 50%;
    object-fit: contain;
    
}

.profile-name {
    color: rgb(255, 255, 255);
    font-size: 14px;
    vertical-align: super;
}

/* MAIN CONTENT */

.main-content {
    background-color: rgb(20,25,34);
	height: calc(100vh - 5rem);
    flex: 1 0 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-inline: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

/* TOP-MENU */

.top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-menu li {
    padding: 1rem;
    padding-inline: .7rem;
    position: relative;
}

.top-menu li.active::after {
    content: "";
    display: block;
    background-color: rgb(173,255,47);
    position: absolute;
    bottom: 20%;
    left: 35%;
    right: 35%;
    height: 3px;
    border-radius: 20px;
    
}

.top-menu li > a {
    text-decoration: none;
    color: rgb(124,126,131);
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
}

.top-menu li > a:hover {
    color: rgb(255, 255, 255);
}

/* ALBUMS SECTION */

.albums-section {
    padding-top: 1.5rem;
}

.albums-section h2 {
    color: rgb(255, 255, 255);
}

.albums-section p {
    color: rgb(124,126,131);
    padding-top: .5rem;
    font-size: 12px;
    font-weight: 600;
}

.albums {
    --cols: 6;
    --gap:  1rem;

    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    gap: var(--gap);
}

.album {
    width: calc((100% - 5 * var(--gap)) / var(--cols));
}

.img-container {
    position: relative;
}

.ply-hover {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.5);
    width: 5rem;
    height: 5rem;
    border-radius: 20rem;
    opacity: 0;
}

.ply-hover:hover {
    cursor: pointer;
    opacity: 1;
}

.album img {
    display: block;
	width: 100%;
    aspect-ratio: 1/1;
    
}

.radius img {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.album h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 1rem;
    font-size: 14px;
}

.album p {
    color: rgb(124,126,131);
    text-align: center;
    padding-top: .5rem;
    font-size: 12px;
    font-weight: 600;
}

/* PLAYER */

nav {
    background-color: rgb(40,40,40);
    height: 5rem;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
}

/* PLAY LEFT */

.play-left {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    height: 100%;
    gap: .5rem;
}

.play-left img {
    width: 40px;
}

.play-left-text {
    white-space: nowrap;
}

.play-left-text > h4 {
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.play-left-text > p {
    font-size: 10px;
    font-weight: 600;
    color: rgb(124,126,131);
}

.play-left-icon {
    display: flex;
    flex-wrap: wrap;
    color: rgb(124,126,131);
    gap: .8rem;
}

/* PLAY CENTER */

.play-center {
    height: 100%;
    flex: 0 0 60%;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.play-center-icon {
    display: flex;
    align-items: baseline;
    gap: 2rem;
}

.play-center-icon {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.play-center-icon :nth-child(3) {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.play-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.minute {
    font-size: 10px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-inline: 1rem;
}

.bkg-grey {
    background-color: rgb(124,126,131);
    height: 4px;
    width: 50%;
    border-radius: 20px;
}

.bkg-white {
    background-color: rgb(255, 255, 255);
    height: 4px;
    width: 30%;
    border-radius: 20px;
}

/* PLAY RIGHT */

.play-right {
    height: 100%;
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
    padding-right: .5rem;
}

.play-right-icon {
    display: flex;
    color: rgb(255, 255, 255);
    gap: 1rem;
}

.volume-bar {
    background-color: rgb(124,126,131);
    height: 4px;
    width: 50%;
    border-radius: 20px;
}

.small-bar {
    background-color: rgb(255, 255, 255);
    height: 4px;
    width: 30%;
    border-radius: 20px;
}




/* MEDIA QUERY */

@media (max-width: 1400px)   {

    /* ALBUMS SECTION */

    .albums {
        --cols: 6;
        --gap:  1rem;
    }

    .album {
        width: calc((100% - 5 * var(--gap)) / var(--cols));
    }
}

@media (max-width: 1100px)   {

    /* ALBUMS SECTION */

    .albums {
        --cols: 4;
        --gap:  1rem;
    }

    .album {
        width: calc((100% - 3 * var(--gap)) / var(--cols));
    }
}

@media (max-width: 700px)   {

    /* ALBUMS SECTION */

    .albums {
        --cols: 2;
        --gap:  1rem;
    }

    .album {
        width: calc((100% - 1 * var(--gap)) / var(--cols));
    }
}

@media (max-width: 600px) {

    /* SIDE MENU */
    
    .side-menu {
        flex: 0 0 50px;
        height: calc(100vh - 5rem);
        padding-inline: 0rem;
        overflow: hidden;
    }

    /* LOGO */

    .logo-big {
        display: none;
    }

    .logo-small {
        width: 100%;
        padding-top: 0rem;
        padding: 10px;
        display: block;
        aspect-ratio: 1/1;
    }

    /* MENU UP */

    .menu-up {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .menu-up::before {
        display: none;
    }
    
    .menu-up li > img {
        width: 100%;
        padding: 10px;
    }
    
    .menu-up li > span {
        display: none;
    }

    /* MENU CENTER */

    .menu-center {
        display: none;
    }

    /* MENU DOWN */

    .menu-down span {
        display: none;
    }

    .bar::after {
        display: none;
    }

    .profile-img {
        margin-left: .8rem;
    }

    .dwn-icon {
        width: 100%;
        padding: 10px;
        margin-left: -0.1rem;
    }
}

@media (max-width: 400px)   {

    /* SIDE MENU */
    
    .side-menu {
        flex: 0 0 50px;
        height: calc(100vh - 5rem);
        padding-inline: 0rem;
        overflow: hidden;
    }

    /* LOGO */

    .logo-small {
        width: 100%;
        padding-top: 0rem;
        padding: 10px;
        display: block;
        aspect-ratio: 1/1;
    }

    /* MENU UP */

    .menu-up {
        gap: 0;
    }

    .menu-up li > img {
        width: 100%;
        padding: 10px;
    }

    /* MENU DOWN */

    .profile-img {
        margin-left: .8rem;
    }

    .dwn-icon {
        width: 100%;
        padding: 10px;
        margin-left: -0.1rem;
    }

    /* TOPBAR */

    .upgrade a {
        font-size: .6rem;
        padding: .2rem 1rem;
    }

    /* TOP MENU */

    .top-menu {
        flex-direction: column;
        align-items: center;
    }

    .top-menu li {
        padding: .5rem;
    }

    .top-menu li.active::after {
        bottom: 10%;
    }

    /* ALBUM SECTION */

    .albums {
        --cols: 1;
        --gap:  1rem;
    }

    .albums-section h2 > p {
        text-align: center;
    }

    .album {
        width: calc((100% - 0 * var(--gap)) / var(--cols));
    }
}



