/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */

html {
    font-family: 'Gotham';
    font-weight: 500;
}

li {
    list-style: none;
}

/* MAIN */

/* TOPBAR */

.upgrade {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    height: 5rem;
	background-color: rgb(0, 0, 0, 0.5);
}

.upgrade a {
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: .7rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: .5rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
}

.container-flex {
    display: flex;
    margin: auto;
}

.side-menu {
    background-color: rgb(0, 0, 0);
    flex: 0 0 15%;
    height: calc(100vh - 5rem);
    z-index: 99;
}

/* SIDE MENU */



/* CENTRAL CONTENT */

.main-content {
    background-color: rgb(20,25,34);
    flex: 0 0 85%;
	height: calc(100vh - 5rem);
    padding-top: 6rem;
    padding-bottom: 5rem;
    padding-inline: 1rem;
    overflow-y: auto;
}

.top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-menu li {
    color: rgb(124,126,131);
    padding-inline: .7rem;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
}

/* ALBUMS SECTION */

.albums-section {
    padding-top: 2.5rem;
}

.albums-section h2 {
    color: rgb(255, 255, 255);
}

.albums-section p {
    color: rgb(124,126,131);
    padding-top: .5rem;
    font-size: 12px;
    font-weight: 600;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    gap: 1rem;
}

.album {
    width: calc((100% - 5 * 1rem) / 6);
}

.album img {
    display: block;
	width: 100%;
}

.radius img {
    border-radius: 50%;
}

.album h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 1rem;
    font-size: 14px;
}

.album p {
    color: rgb(124,126,131);
    text-align: center;
    padding-top: .5rem;
    font-size: 12px;
    font-weight: 600;
}

/* NAVBAR */

.player {
    background-color: rgb(40,40,40);
    height: 5rem;
    width: 100%;
    z-index: 100;
}

